{
    "presets": [
        "@babel/env",
        [
            "@babel/preset-react",
            {
                "runtime": "automatic"
            }
        ]
    ],
    "plugins": [
        // Proposals which are not yet shipped in browsers
        // Updated: 5th June, 2019
        "@babel/plugin-proposal-optional-chaining"
    ]
}